* {
  margin: 0px;
  padding: 0px;
  outline: 0px; }

html, body {
  background-color: #e6e6e6;
  color: #000000;
  font-size: 14px;
  font-family: amplesoft, sans-serif; }

.light-box {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  padding: 40px;
  box-shadow: -5px 5px 7px 3px rgba(0, 0, 0, 0.05); }

.login-box {
  margin: 100px auto;
  width: 340px; }

.page-box {
  margin: 60px auto;
  width: 600px;
  padding: 0px;
  position: relative;
  min-height: 600px; }

.account-bar {
  padding: 10px 15px;
  border-bottom: 1px solid #d9d9d9; }

.container {
  padding: 10px 0px;
  background-color: whitesmoke; }

.new-button {
  margin-right: 50px; }

.rows {
  margin-top: 50px;
  border-top: 1px solid #e6e6e6; }

.row {
  border-bottom: 1px solid #ebebeb;
  margin-left: 20px;
  padding: 10px;
  padding-left: 0px; }

.container.profile {
  padding: 50px; }

.profile-name {
  color: #4a4a4a;
  font-size: 68px;
  margin-left: 160px;
  position: absolute;
  left: 100px;
  top: 60px;
  background-color: #fafafa;
  padding: 30px; }
.profile-detail .sm {
  font-size: 24px;
  font-weight: 100;
  color: #7a7a7a;
}
.profile-detail .b {
  font-weight: bold;
  color: #414141;
}
.profile-container {
  color: #4a4a4a;
  font-size: 68px;
  margin-left: 160px;
  position: absolute;
  left: 0px;
  top: 180px;
  padding: 30px;
}
.profile-container .left { width: 30%; font-size: 18px; color:#F83190; float: left; }
.profile-container .right { width: 65%; margin-left: 0%; float: right; }
.profile-container .left, .profile-container .right { line-height: 1.3; }

.profile-photo {
  position: absolute;
  left: -180px;
  background-color: #fff;
  box-shadow: -5px 5px 7px 3px rgba(0, 0, 0, 0.05);
  display: block;
  height: 400px;
  width: 320px;
  margin-top: 50px;
}
.profile-photo img { width: 100%; }

.profile-detail {
  margin-top: 20px; }
.profile-quote { position: absolute; bottom: 10px; left: 0px; width: 80%; height: 20px; font-size: 24px; color: #606060; padding: 50px; }

.profile-detail .title, .profile-detail .value {
  display: inline-block;
  vertical-align: middle; }

.profile-detail .title {
  width: 32%;
  text-align: right;
  color: gray;
  padding-right: 5%; }

.profile-detail .value {
  width: 60%;
  text-align: left; }

.profile-detail .data-row {
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  padding-left: 0px;
  width: 70%; }

.message-box {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px; }

.message-box textarea {
  font-size: 16px;
  color: gray;
  width: 100%;
  height: 50px;
  border: 0px; }

/* .tiles { padding: 40px; padding-top: 35px; }
.tile { width: calc(32.33% - 20px); height: 140px; display: inline-block; border: 1px solid darken($primary, 8%); margin: 10px 10px; background-color: $primary; vertical-align: top; word-wrap: wrap; word-break: break-all; position: relative; transition: all .5s ease-in-out; overflow: hidden; }
.tile.video span { font-size: 18px; font-weight: lighter; }
.tile span { font-size: 24px; font-weight: 600; display: block; padding: 20px; color: lighten($primary_dark, 50%); }
.tile:hover .category-bottom { bottom: 0px; }
.tile:hover { border: 1px solid lighten($accent, 20%); }
.category-name { font-weight: bold; padding: 20px; color: lighten($primary_dark, 50%); border: 0px !important; word-wrap: wrap; word-break: break-all; }
.category-bottom { background-color: $primary; position: absolute; bottom: -40px; left: 0px; width: 100%; height: 40px; border-top: 1px solid darken($primary, 8%); transition: all .5s ease-in-out; }
.category-bottom a { display: inline-block; width: 50%; text-align: center; padding: 10px 5px; vertical-align: top; }
.category-bottom button { display: inline-block; width: 45%; text-align: center; padding: 10px 0px; vertical-align: top; }
.category-bottom button.primary { color: darken($accent, 20%); }
 */
.uploader {
  text-align: center;
  padding: 20px; }

.hidden {
  display: none; }

.progress-bar {
  height: 10px;
  width: 80%;
  margin: 10px auto;
  background-color: #ebebeb;
  display: block;
  position: relative; }

.progress-bar .progress {
  height: 100%;
  width: 0%;
  background-color: #F83190;
  transition: all .5s ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  color: gray; }

a {
  text-decoration: none;
  color: #bd065d; }

a.plain {
  color: gray; }

a.plain:hover {
  color: #0d0d0d; }

p {
  color: gray; }

.i {
  font-style: italic; }

.light {
  color: #999999; }

.fr {
  float: right; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt40 {
  margin-top: 40px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr40 {
  margin-right: 40px; }

.space {
  display: block;
  padding: 20px; }

input[type="text"], input[type="password"] {
  background-color: transparent;
  font-size: 16px;
  color: #666666;
  padding-bottom: 10px;
  border: 0px;
  border-bottom: 1px solid #e6e6e6;
  width: 80%;
  margin-top: 20px;
  display: flex; }

input[type="submit"], button, .button {
  background-color: #F83190;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 35px;
  border: 0px;
  border-radius: 3px; }

input[type="submit"].plain {
  background-color: transparent;
  border: 0px;
  padding: 10px 5px;
  color: gray;
  cursor: pointer; }

button.plain, .button.plain {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  color: #333333; }

button.clear, .button.clear {
  background-color: transparent;
  border: 0px;
  padding: 10px 5px;
  color: gray;
  cursor: pointer; }

.notice {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: #7a7a7a;
  text-align: center; }

.notice a {
  color: blue;
  text-decoration: none; }

.notice.success {
  background-color: #009a00; }

.notice.error {
  background-color: #e60000 !important; }

/*# sourceMappingURL=main.css.map */
